/** property for Home section **/
#home{
    height: 400px;
    background-color: lightblue;
}



h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
}

i{
    font-weight: 500;
    font-size: 30px;
    color: #b9b9b9;
}
h1{
    font-weight: 500;
    letter-spacing: 3px;
    
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
}

h4{
    color: #303030;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

p{
    color: #848688;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-style: normal;
}

button{
    font-family: 'Raleway', sans-serif;
}

#sign-up{
    background-color: #D44500;
    border: #D44500;
}
/** property for About section **/
#about{
    height:1000px;
}

.canva{
    height: 400px;
    background-size: cover;

}

/** property for brothers section **/
#brothers{
    height:auto;
}

/** property for leaderhsip section **/
#leadership{
    height:auto;
}

/** property for recongition section **/
#recognition{
    height:auto;
}

@media screen and (max-width: 1000px) {
   #front-banner{
     flex-direction: column;
     align-items: center;
    }
    #home{
        height: 680px;
    }
    #rush-video{
        width: 100%;
    }
  }

  @media screen and (max-width: 320px) {
     #home{
         height: 750px;
     }
   }